.Tool {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 28px;
    color: black;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    margin-bottom: 2px;
    border-radius: 2px;
    background: #a2a2a2;
    position: relative;
    &:hover {
        border-color: gray;
    }
    .child-container {
        position: absolute;
        z-index: 2;
        top: -4px;
        left: 39.5px;
        list-style: none;
        background: #2d2d2d;
        padding: 5px 10px;
        border-radius: 2px;
    }
    .disable {
        top: -1000px;
    }
}