.book-list-container {
    .book-list-content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
    .book-container {
        border: 1px solid;
    }
}