.Header {
    background: #00bcd4;
    height: 70px;
    .header-title {
        display: block;
        text-align: center;
        color: white;
        padding-top: 15px;
        font-size: 28px;
    }
}