.Top {
    height: 80px;
    padding: 8px;
    border-bottom: 1px solid #545353;
    box-sizing: border-box;
    width: 60%;
    margin-left: 2%;
    .top-row {
        display: flex;
        div {
            margin: 8px 0 0 6px;
            display: flex;
        }
    }
}