.editor-input {
    margin-top: 2px;
    .editor-title {
        color: #04a0de;
        display: block;
        padding-bottom: 3px;
    }
    input {
        height: 22px;
        width: 83%;
        color: white;
        background: #0000005c;
        border: 1px solid black;
    }
    input:focus,
    textarea:focus,
    select:focus {
        outline: none;
    }
}